html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}
